﻿@model CIC_Api.Models.LoginModel
@{
    ViewData["Title"] = "LoginPage";
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <!-- App Style CSS -->
    <!--<link rel="stylesheet" href="css/login.css">-->
    <link rel="stylesheet" href="~/CSS/Custom/css/login.css">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,700" rel="stylesheet">
    <title>CIC</title>
</head>
<body>

    <div class="container-fluid loginWraper">

        <div class="row h-100">
            <div class="col-md-5 text-center innerPadding">
                <div class="logo loginBgCol h-100">
                    <img src="~/images/img/logo.jpg" alt="CIC Logo" class="">
                    <img src="~/images/img/cic_artwork.svg" alt="" style="width:75%;">
                </div>
            </div>
            <div class="col-md-7 loginFormWraper innerPadding">

                <div class="row h-100">
                    <div class="col-sm-12 col-md-6 justify-content-center align-self-center m-auto">
                        <h1 class="mb-4 loginTitle">Login</h1>
                        <p class="subText text-muted font-weight-300">This is a secure system and you will need to<br>provide your login details to access the site.</p>
                        <form method="post" class="formBox" id="loginform">

                            <label id="messageLabel" class="text-danger">@ViewBag.message</label>

                            <div class="form-group">
                                <label for="email">User Name</label>
                                @Html.TextBoxFor(m => m.Username, new { placeholder = "Username", @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Username, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                <label for="pwd">Password</label>
                                @Html.TextBoxFor(m => m.Password, new { placeholder = "Password", @class = "form-control", type = "password" })
                                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group text-right">
                                <label class="form-check-label">
                                    <a href="#" class="font-weight-700">Forgot Password?</a>
                                </label>
                            </div>
                            <button type="submit" class="btn btn-primary customSubmitBtn mb-3">Login</button>
                            <div class="form-group">
                                <label class="text-muted warnMsg">
                                    By logging in, you agree to Starting Point's Privacy Policy and Terms of Use
                                </label>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>

    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
    <!-- App.js -->
    <!--<script src="js/app.js"></script>-->
    @*<script src="../JavaScript/Custom/js/app.js"></script>*@
</body>

</html>
<script type="text/javascript">
    //$("#loginform").submit(function (event) {
    //    alert("Handler for .submit() called.");
    //    event.preventDefault();
    //});

    //used for preventing browser back after logoff
    window.history.pushState(null, "", window.location.href);
    window.onpopstate = function () {
        window.history.pushState(null, "", window.location.href);
    };
    $("#Username").focus();

</script>
