﻿
@model CIC_Api.Models.ChildModel




    <!-- /# sidebar -->



                <!-- /# row -->
                <section id="main-content">


                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-title">
                                    <h4>View Child Record</h4>

                                </div>
                                <div class="card-body">
                                   
                                        <div class="basic-elements">

                                            <div class="row">


                                                <div class="col-lg-6">
                                                    <div class="form-group">
                                                        <label>Parent consent</label>
                                                  
                                                    <select id="ParentConsentGranted" multiple class="form-control">
                                                      
                                                        <option value="2"> Granted</option>
                                                        <option value="3">Not Granted</option>
                                                    </select>
                                                    </div>
                                                    <div class="form-group">
                                                        <label>Reason Not To Grand :</label>
                                                   
                                                    @Html.EditorFor(model => model.NotServedReason, new { htmlAttributes = new { @class = "form-control" } })
                                                       @* <input type="text" id="NotServedReason" name="NotServedReason" class="form-control" />*@
                                                    </div>
                                                    <div class="form-group">
                                                        <label>Last Name</label>
                                                    @Html.EditorFor(model => model.snLast_Name, new { htmlAttributes = new { @class = "form-control" } })
                                                  @*  @Html.EditorFor(m => m.snLast_Name)*@
                                                        @*<input type="text" id="snLast_Name" name="snLast_Name" class="form-control" />*@
                                                    </div>
                                                    <div class="form-group">
                                                        <label>First Name</label>
                                                   
                                                    @Html.EditorFor(model => model.snFirst_Name, new { htmlAttributes = new { @class = "form-control" } })
                                                        @*<input type="text" id="snFirst_Name" name="snFirst_Name" class="form-control" />*@
                                                    </div>
                                                    <div class="form-group">
                                                        <label> Middle Initial</label>
                                                    @Html.EditorFor(m => m.snMI , new { htmlAttributes = new { @class = "form-control" } })
                                                       @* <input type="text" id="snMI" name="snMI" class="form-control" />*@
                                                    </div>

                                                </div>
                                                <div class="col-lg-6">
                                                    <div class="form-group">
                                                        <label> Date Of Birth</label>
                                                    @Html.EditorFor(m => m.snDOB , new { htmlAttributes = new { @class = "form-control"} })
                                                       @* <input type="date" id="snDOB" name="snDOB" class="form-control" placeholder="" />*@
                                                    </div>
                                                    <div class="form-group">
                                                        <label>Last 4 Digits of SSN</label>
                                                    @Html.EditorFor(m => m.snPartialSSN , new { htmlAttributes = new { @class = "form-control" } })
                                                        <@*input type="text" id="snPartialSSN" name="snPartialSSN" class="form-control" placeholder="0000" maxlength="4" size="4" />*@
                                                    </div>
                                                    <div class="form-group">
                                                        <label>Gender</label>
                                                    @Html.EditorFor(m => m.snGender , new { htmlAttributes = new { @class = "form-control"} })
                                                        @*<input checked="checked" name="snGender" type="radio" value="M" /> Male
                                                        <input name="snGender" type="radio" value="F" /> Female*@
                                                    </div>
                                                    <div class="form-group">
                                                        <label>Race</label>
                                                     <select id="snEthnicOriginID" name="snEthnicOriginID" class="form-control" required>
                                                       
                                                      

                                                        <option value="3">Asian</option>
                                                        <option value="11">Bi-Racial</option>
                                                        <option value="1">Black</option>
                                                        <option value="4">Hispanic</option>
                                                        <option value="9">Indian</option>
                                                      
                                                        <option value="8">Multi-Racial</option>
                                                            <option value="10">Middle Eastern</option>
                                                        <option value="5">Native-American</option>
                                                        <option value="12">Refused to Answer</option>
                                                        <option value="2">White</option>
                                                    </select>
                                                      
                                                    </div>

                                                </div>
                                                <div class="col-lg-6">
                                                    <div class="form-group">
                                                        <label>Parent(Guardian)</label>
                                                    <select id="SPidParent" name="SPidParent" class="form-control" required>
                                                       
                                                        <option value="3">TAYLOR</option>
                                                        <option value="6">Dammons</option>
                                                        <option value="7">Langon</option>
                                                        <option value="9">Wiggins</option>
                                                        <option value="10">Bordian</option>
                                                        <option value="11">ALLEN</option>
                                                        <option value="12">Sealfon</option>
                                                        <option value="13">Nelson</option>
                                                        <option value="18">BERG</option>
                                                        <option value="20">Sta Ana</option>
                                                        <option value="22">MOSS</option>
                                                        <option value="25">Lauber</option>
                                                        <option value="26">Turdik</option>
                                                        <option value="27">Koehler</option>
                                                        <option value="28">Clark</option>
                                                        <option value="29">Wilson</option>
                                                        <option value="30">Taylor</option>
                                                        <option value="31">Parker</option>
                                                    </select>
                                                       




                                                    </div>
                                                    <div class="form-group">
                                                        <label> Relationship to Child :</label>
                                                   
                                                       <select id="RelationToChild" name="RelationToChild" class="form-control" required>
                                                       
                                                        <option value="AIDE">AIDE</option>
                                                        <option value="Area Director">Area Director</option>
                                                        <option value="Assitant Director">Assitant Director</option>
                                                        <option value="Assistant Teacher">Assistant Teacher</option>
                                                        <option value="Aunt">Aunt</option>
                                                        <option value="Camp Attendee">Camp Attendee</option>
                                                        <option value="Caregiver">Caregiver</option>
                                                        <option value="Center Teacher">Center Teacher</option>
                                                        <option value="Center Director">Center Director</option>
                                                        <option value="Child Care Provider">Child Care Provider</option>
                                                        <option value="Clinical Director">Clinical Director</option>
                                                        <option value="Co-Director">Co-Director</option>
                                                        <option value="County Worker">County Worker</option>
                                                        <option value="Cousin">Cousin</option>
                                                        <option value="Day Care Teacher">Day Care Teacher</option>
                                                    </select>
                                                   

                                                    </div>
                                                    <div class="form-group">
                                                        <label>Second Parent(Relative)</label>
                                                  <select id="SPidParent1" name="SPidParent1" class="form-control" required>
                                                      
                                                        
                                                        <option value="3">TAYLOR</option>
                                                        <option value="6">Dammons</option>
                                                        <option value="7">Langon</option>
                                                        <option value="9">Wiggins</option>
                                                        <option value="10">Bordian</option>
                                                        <option value="11">ALLEN</option>
                                                        <option value="12">Sealfon</option>
                                                        <option value="13">Nelson</option>
                                                        <option value="18">BERG</option>
                                                        <option value="20">Sta Ana</option>
                                                        <option value="22">MOSS</option>
                                                        <option value="25">Lauber</option>
                                                        <option value="26">Turdik</option>
                                                        <option value="27">Koehler</option>
                                                        <option value="28">Clark</option>
                                                        <option value="29">Wilson</option>
                                                        <option value="30">Taylor</option>
                                                        <option value="31">Parker</option>
                                                    </select>
                                                    
                                                    </div>
                                                    <div class="form-group">
                                                        <label>Relationship to Child :</label>
                                                     <label>Relationship to Child :</label>
                                                    <select id="RelationToChild1" name="RelationToChild1" class="form-control" required>
                                                      
                                                        <option value="AIDE">AIDE</option>
                                                        <option value="Area Director">Area Director</option>
                                                        <option value="Assitant Director">Assitant Director</option>
                                                        <option value="Assistant Teacher">Assistant Teacher</option>
                                                        <option value="Aunt">Aunt</option>
                                                        <option value="Camp Attendee">Camp Attendee</option>
                                                        <option value="Caregiver">Caregiver</option>
                                                        <option value="Center Teacher">Center Teacher</option>
                                                        <option value="Center Director">Center Director</option>
                                                        <option value="Child Care Provider">Child Care Provider</option>
                                                        <option value="Clinical Director">Clinical Director</option>
                                                        <option value="Co-Director">Co-Director</option>
                                                        <option value="County Worker">County Worker</option>
                                                        <option value="Cousin">Cousin</option>
                                                        <option value="Day Care Teacher">Day Care Teacher</option>
                                                    </select>
                                                       
                                                    </div>


                                                </div>
                                                <div class="col-lg-6">
                                                    <div class="form-group">
                                                        <label>Address Number</label>
                                                    @Html.EditorFor(m => m.snAddress_Number , new { htmlAttributes = new { @class = "form-control" } })
                                                        
                                                    </div>
                                                    <div class="form-group">
                                                        <label> Street Name</label>
                                                    @Html.EditorFor(m => m.snAddress_Street , new { htmlAttributes = new { @class = "form-control" } })
                                                       
                                                    </div>
                                                    <div class="form-group">
                                                        <label>#</label>
                                                    @Html.EditorFor(m => m.snAddress_Apartment , new { htmlAttributes = new { @class = "form-control" } })
                                                        
                                                    </div>
                                                    <div class="form-group">
                                                        <label>City</label>
                                                    @Html.EditorFor(m => m.snCity , new { htmlAttributes = new { @class = "form-control" } })
                                                      
                                                    </div>
                                                    <div class="form-group">
                                                        <label>State</label>
                                                    @Html.EditorFor(m => m.snState , new { htmlAttributes = new { @class = "form-control", @disabled = "" } })
                                                       
                                                    </div>

                                                </div>
                                                <div class="col-lg-6">
                                                    <div class="form-group">
                                                        <label>Zip</label>
                                                       
                                                    @Html.EditorFor(m => m.snZip , new { htmlAttributes = new { @class = "form-control" } })
                                                    </div>
                                                    <div class="form-group">
                                                        <label>Phone</label>
                                                        
                                                    @Html.EditorFor(m => m.snPhone_Number , new { htmlAttributes = new { @class = "form-control"} })
                                                    </div>
                                                    <div class="form-group">
                                                        <label>Reffered By</label>
                                                   <select id="RFRid" name="RFRid" class="form-control" required>
                                                       
                                                        <option value="1">CCWT-DayCare</option>
                                                        <option value="2">Provider friend</option>
                                                        <option value="3">Call & Post</option>
                                                        <option value="4">Beechbrook</option>
                                                        <option value="5">Life magazine</option>
                                                        <option value="6">Radio</option>
                                                        <option value="7">TV add</option>
                                                        <option value="8">WIC</option>
                                                        <option value="9">Head Start</option>
                                                        <option value="10">Metro housing</option>
                                                        <option value="11">Door to door</option>
                                                        <option value="12">School book bag</option>
                                                        <option value="13">Dr. office flyers</option>
                                                        <option value="14"> Library flyers</option>
                                                        <option value="15">Park</option>
                                                    </select>
                                                       

                                                    </div>
                                                    <div class="form-group">
                                                        <label>Original Type Of Care</label>
                                                    <select id="TypeID" name="TypeID" class="form-control" required>
                                                        <option disabled selected value="0">--Select--</option>
                                                        <option value="3">Child Care Home Provider Certified</option>
                                                        <option value="4">Child Care Home Provider Uncertified</option>
                                                        <option value="11">Preschool (Part Day)</option>
                                                        <option value="12">School Age Program</option>
                                                        <option value="13">Head Start</option>
                                                        <option value="14">Camp</option>
                                                        <option value="17">Co-op</option>
                                                        <option value="18">Center (Full Day)</option>
                                                        <option value="19">Friend</option>
                                                        <option value="20">Parent</option>
                                                        <option value="21">Private Duty Nurse</option>
                                                        <option value="22">Family member</option>
                                                        <option value="23">Foster Parent</option>
                                                        <option value="24">Unavailable</option>
                                                        <option value="25">Center (Half Day)</option>
                                                       
                                                    </select>
                                                       
                                                    </div>
                                                    <div class="form-group">
                                                        <label>Case Status</label>
                                                    <select id="MyCom" class="form-control">
                                                        <option value=1 selected='selected'>Active</option>
                                                        <option value=0>Closed</option>
                                                    </select>
                                                          
                                                    </div>

                                                </div>
                                                <div class="col-lg-6">
                                                    <div class="form-group">
                                                        <label>Effective Date :</label>
                                                    @Html.EditorFor(m => m.DateAdded , new { htmlAttributes = new { @class = "form-control" } })
                                                       
                                                    </div>
                                                    <div class="form-group">
                                                        <label>Transition Summary Completed</label>
                                                   <select id="ConsentInFile" class="form-control">
                                                        <option value=0>No</option>
                                                        <option value=1>Yes</option>
                                                    </select>
                                                        
                                                    </div>
                                                    <div class="form-group">
                                                        <label>Effective Date :</label>
                                                    @Html.EditorFor(m => m.DateAdded , new { htmlAttributes = new { @class = "form-control" } })
                                                       
                                                    </div>
                                                    <div class="form-group">
                                                        <label>Notes</label>
                                                    @Html.EditorFor(m => m.snNotes , new { htmlAttributes = new { @class = "form-control" } })
                                                       
                                                    </div>


                                                </div>
                                               
                                               @* <button id="btnBack" type="button" class="btn btn-outline-secondary mr-2">Back</button>*@
                                            <button id="btnSave" type="button" class="btn btn-success mr-2">Save</button>
                                            </div>

                                        </div>
                                    
                                </div>
                            </div>
                        </div>
                        <!-- /# column -->
                        <!-- /# column -->
                    </div>
                    <!-- /# row -->



                </section>
            






  