﻿@model IEnumerable<CIC_Api.Models.ChildModel>
@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}



<h4>CHILD Details</h4>



                <section id="main-content">
                    <div class="row">
                        <div class="col-lg-12">
                          
                                <input type="button" class="btn btn-primary btn-rounded m-b-10 m-l-5" style="float: right;" value="Add Child" onclick="location.href='@Url.Action("NewChildRecord", "Child")'" />

                      
                            <div class="card">
                                <div class="bootstrap-data-table-panel">
                                    <div class="table-responsive">
                                        <table id="bootstrap-data-table-export" class="table table-striped table-bordered">
                                            <thead>
                                                <tr>
                                                    <th>Child's ID'</th>
                                                    <th>Last Name</th>
                                                    <th>First Name</th>
                                                    <th>Address</th>
                                                    <th>Phone</th>
                                                    <th>Parent(guardian)</th>
                                                  @*  <th>Status</th>*@
                                                    <th>Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var item in Model)
                                                {
                                                   @* bool str = item.is_active;
                                                    string str1 = str.ToString();*@

                                                    <tr>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.SPid)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.snLast_Name)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.snFirst_Name)
                                                        </td>
                                                        
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.snAddress)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.snPhone_Number)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.SPidParent)
                                                        </td>
                                                       


                                                        <td>
                                                            <a href="@Url.Action("Viewchild", "Child",new { SPid = @item.SPid,view="view" })" class="edit" title="Edit" data-toggle="tooltip">View</a>
                                                            <a href="@Url.Action("Viewchild", "Child",new { SPid = @item.SPid,view="edit" })" class="edit" title="Edit" data-toggle="tooltip">Edit</a>
                                                            @*<a href="@Url.Action("DeleteCurrency", "Currency",new { id = @item.id })" class="delete" title="Delete" data-toggle="tooltip"><i class="fa fa-trash-o" style="font-size: 24px; color: red;"></i></a>*@
                                                            @*<form asp-action="DeleteCurrency" asp-route-id="@item.id" method="post" style="display: inline;">
                                                        <button type="submit" class="fa fa-trash-o" style="font-size: 24px; color: red; border: none; outline: none;" onclick="return functionConfirm(this)">
                                                        </button>
                                                        </form>*@

                                                        </td>


                                                    </tr>
                                                }
                                               
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <!-- /# card -->
                        </div>
                        <!-- /# column -->
                    </div>
                    <!-- /# row -->

                    <div class="row">
                        <div class="col-lg-12">
                            <div class="footer">
                                <p>2018 © Admin Board. - <a href="#">example.com</a></p>
                            </div>
                        </div>
                    </div>
                </section>
            








    <!-- jquery vendor -->
    <script src="~/js/lib/jquery.min.js"></script>
    <script src="~/js/lib/jquery.nanoscroller.min.js"></script>
    <!-- nano scroller -->
    <script src="~/js/lib/menubar/sidebar.js"></script>
    <script src="~/js/lib/preloader/pace.min.js"></script>
    <!-- sidebar -->
    <!-- bootstrap -->

    <script src="~/js/lib/bootstrap.min.js"></script>
    <script src="~/js/scripts.js"></script>
    <!-- scripit init-->
    <script src="~/js/lib/data-table/datatables.min.js"></script>
    <script src="~/js/lib/data-table/dataTables.buttons.min.js"></script>
    <script src="~/js/lib/data-table/buttons.flash.min.js"></script>
    <script src="~/js/lib/data-table/jszip.min.js"></script>
    <script src="~/js/lib/data-table/pdfmake.min.js"></script>
    <script src="~/js/lib/data-table/vfs_fonts.js"></script>
    <script src="~/js/lib/data-table/buttons.html5.min.js"></script>
    <script src="~/js/lib/data-table/buttons.print.min.js"></script>
    <script src="~/js/lib/data-table/datatables-init.js"></script>





