﻿
@model CIC_Api.Models.ChildModel

@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}



<h4>CHILD Details</h4>



                <!-- /# row -->
                <section id="main-content">


                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-title">
                                    <h4>View Child Record</h4>

                                </div>
                                @if (ViewBag.msg=="view")
                                {
                                     <div class="card-body">
                                   
                                        <div class="basic-elements">

                                            <div class="row">


                                                <div class="col-lg-6">
                                                    <div class="form-group">
                                                        <label>Parent consent</label>
                                                  
                                                   
                                                    <input class="form-control" type="text" value="Granted" disabled="">
                                                    </div>
                                                    <div class="form-group">
                                                        <label>Reason Not To Grand :</label>
                                                   
                                                    @Html.EditorFor(model => model.NotServedReason, new { htmlAttributes = new { @class = "form-control", @disabled = "" } })
                                                       @* <input type="text" id="NotServedReason" name="NotServedReason" class="form-control" />*@
                                                    </div>
                                                    <div class="form-group">
                                                        <label>Last Name</label>
                                                    @Html.EditorFor(model => model.snLast_Name, new { htmlAttributes = new { @class = "form-control", @disabled = "" } })
                                                  @*  @Html.EditorFor(m => m.snLast_Name)*@
                                                        @*<input type="text" id="snLast_Name" name="snLast_Name" class="form-control" />*@
                                                    </div>
                                                    <div class="form-group">
                                                        <label>First Name</label>
                                                   
                                                    @Html.EditorFor(model => model.snFirst_Name, new { htmlAttributes = new { @class = "form-control", @disabled = "" } })
                                                        @*<input type="text" id="snFirst_Name" name="snFirst_Name" class="form-control" />*@
                                                    </div>
                                                    <div class="form-group">
                                                        <label> Middle Initial</label>
                                                    @Html.EditorFor(m => m.snMI , new { htmlAttributes = new { @class = "form-control", @disabled = "" } })
                                                       @* <input type="text" id="snMI" name="snMI" class="form-control" />*@
                                                    </div>

                                                </div>
                                                <div class="col-lg-6">
                                                    <div class="form-group">
                                                        <label> Date Of Birth</label>
                                                    @Html.EditorFor(m => m.snDOB , new { htmlAttributes = new { @class = "form-control", @disabled = "" } })
                                                       @* <input type="date" id="snDOB" name="snDOB" class="form-control" placeholder="" />*@
                                                    </div>
                                                    <div class="form-group">
                                                        <label>Last 4 Digits of SSN</label>
                                                    @Html.EditorFor(m => m.snPartialSSN , new { htmlAttributes = new { @class = "form-control", @disabled = "" } })
                                                       
                                                    </div>
                                                    <div class="form-group">
                                                        <label>Gender</label>
                                                    @Html.EditorFor(m => m.snGender , new { htmlAttributes = new { @class = "form-control", @disabled = "" } })
                                                        @*<input checked="checked" name="snGender" type="radio" value="M" /> Male
                                                        <input name="snGender" type="radio" value="F" /> Female*@
                                                    </div>
                                                    <div class="form-group">
                                                        <label>Race</label>
                                                    @Html.EditorFor(m => m.race , new { htmlAttributes = new { @class = "form-control", @disabled = "" } })
                                                      
                                                    </div>

                                                </div>
                                                <div class="col-lg-6">
                                                    <div class="form-group">
                                                        <label>Parent(Guardian)</label>
                                                    @Html.EditorFor(m => m.SPidParent , new { htmlAttributes = new { @class = "form-control", @disabled = "" } })
                                                       




                                                    </div>
                                                    <div class="form-group">
                                                        <label> Relationship to Child :</label>
                                                    @Html.EditorFor(m => m.RelationToChild , new { htmlAttributes = new { @class = "form-control", @disabled = "" } })
                                                   

                                                    </div>
                                                    <div class="form-group">
                                                        <label>Second Parent(Relative)</label>
                                                    @Html.EditorFor(m => m.SPidParent1 , new { htmlAttributes = new { @class = "form-control", @disabled = "" } })
                                                    
                                                    </div>
                                                    <div class="form-group">
                                                        <label>Relationship to Child :</label>
                                                    @Html.EditorFor(m => m.RelationToChild1 , new { htmlAttributes = new { @class = "form-control", @disabled = "" } })
                                                       
                                                    </div>


                                                </div>
                                                <div class="col-lg-6">
                                                    <div class="form-group">
                                                        <label>Address Number</label>
                                                    @Html.EditorFor(m => m.snAddress_Number , new { htmlAttributes = new { @class = "form-control", @disabled = "" } })
                                                        
                                                    </div>
                                                    <div class="form-group">
                                                        <label> Street Name</label>
                                                    @Html.EditorFor(m => m.snAddress_Street , new { htmlAttributes = new { @class = "form-control", @disabled = "" } })
                                                       
                                                    </div>
                                                    <div class="form-group">
                                                        <label>#</label>
                                                    @Html.EditorFor(m => m.snAddress_Apartment , new { htmlAttributes = new { @class = "form-control", @disabled = "" } })
                                                        
                                                    </div>
                                                    <div class="form-group">
                                                        <label>City</label>
                                                    @Html.EditorFor(m => m.snCity , new { htmlAttributes = new { @class = "form-control", @disabled = "" } })
                                                      
                                                    </div>
                                                    <div class="form-group">
                                                        <label>State</label>
                                                    @Html.EditorFor(m => m.snState , new { htmlAttributes = new { @class = "form-control", @disabled = "" } })
                                                       
                                                    </div>

                                                </div>
                                                <div class="col-lg-6">
                                                    <div class="form-group">
                                                        <label>Zip</label>
                                                       
                                                    @Html.EditorFor(m => m.snZip , new { htmlAttributes = new { @class = "form-control", @disabled = "" } })
                                                    </div>
                                                    <div class="form-group">
                                                        <label>Phone</label>
                                                        
                                                    @Html.EditorFor(m => m.snPhone_Number , new { htmlAttributes = new { @class = "form-control", @disabled = "" } })
                                                    </div>
                                                    <div class="form-group">
                                                        <label>Reffered By</label>
                                                    @Html.EditorFor(m => m.RFR , new { htmlAttributes = new { @class = "form-control", @disabled = "" } })
                                                       

                                                    </div>
                                                    <div class="form-group">
                                                        <label>Original Type Of Care</label>
                                                    @Html.EditorFor(m => m.typedesc , new { htmlAttributes = new { @class = "form-control", @disabled = "" } })
                                                       
                                                    </div>
                                                    <div class="form-group">
                                                        <label>Case Status</label>
                                                    <input class="form-control" type="text" value="Active" disabled="">
                                                          
                                                    </div>

                                                </div>
                                                <div class="col-lg-6">
                                                    <div class="form-group">
                                                        <label>Effective Date :</label>
                                                    @Html.EditorFor(m => m.DateAdded , new { htmlAttributes = new { @class = "form-control", @disabled = "" } })
                                                       
                                                    </div>
                                                    <div class="form-group">
                                                        <label>Transition Summary Completed</label>
                                                    <input class="form-control" type="text" value="No" disabled="">
                                                        
                                                    </div>
                                                    <div class="form-group">
                                                        <label>Effective Date :</label>
                                                    @Html.EditorFor(m => m.DateAdded , new { htmlAttributes = new { @class = "form-control", @disabled = "" } })
                                                       
                                                    </div>
                                                    <div class="form-group">
                                                        <label>Notes</label>
                                                    @Html.EditorFor(m => m.snNotes , new { htmlAttributes = new { @class = "form-control", @disabled = "" } })
                                                       
                                                    </div>


                                                </div>
                                               
                                              
                                            </div>

                                        </div>
                                    
                                </div>
                                }
                                else
                                {
                                     <div class="card-body">
                                   
                                        <div class="basic-elements">

                                            <div class="row">


                                                <div class="col-lg-6">
                                                    <div class="form-group">
                                                        <label>Parent consent</label>
                                                  
                                                   
                                                    <input class="form-control" type="text" value="Granted" disabled="">
                                                    </div>
                                                    <div class="form-group">
                                                        <label>Reason Not To Grand :</label>
                                                   
                                                    @Html.EditorFor(model => model.NotServedReason, new { htmlAttributes = new { @class = "form-control" } })
                                                       @* <input type="text" id="NotServedReason" name="NotServedReason" class="form-control" />*@
                                                    </div>
                                                    <div class="form-group">
                                                        <label>Last Name</label>
                                                    @Html.EditorFor(model => model.snLast_Name, new { htmlAttributes = new { @class = "form-control" } })
                                                  @*  @Html.EditorFor(m => m.snLast_Name)*@
                                                        @*<input type="text" id="snLast_Name" name="snLast_Name" class="form-control" />*@
                                                    </div>
                                                    <div class="form-group">
                                                        <label>First Name</label>
                                                   
                                                    @Html.EditorFor(model => model.snFirst_Name, new { htmlAttributes = new { @class = "form-control"} })
                                                        @*<input type="text" id="snFirst_Name" name="snFirst_Name" class="form-control" />*@
                                                    </div>
                                                    <div class="form-group">
                                                        <label> Middle Initial</label>
                                                    @Html.EditorFor(m => m.snMI , new { htmlAttributes = new { @class = "form-control"} })
                                                       @* <input type="text" id="snMI" name="snMI" class="form-control" />*@
                                                    </div>

                                                </div>
                                                <div class="col-lg-6">
                                                    <div class="form-group">
                                                        <label> Date Of Birth</label>
                                                    @Html.EditorFor(m => m.snDOB , new { htmlAttributes = new { @class = "form-control" } })
                                                       @* <input type="date" id="snDOB" name="snDOB" class="form-control" placeholder="" />*@
                                                    </div>
                                                    <div class="form-group">
                                                        <label>Last 4 Digits of SSN</label>
                                                    @Html.EditorFor(m => m.snPartialSSN , new { htmlAttributes = new { @class = "form-control"} })
                                                      
                                                    </div>
                                                    <div class="form-group">
                                                        <label>Gender</label>
                                                    @Html.EditorFor(m => m.snGender , new { htmlAttributes = new { @class = "form-control" } })
                                                        @*<input checked="checked" name="snGender" type="radio" value="M" /> Male
                                                        <input name="snGender" type="radio" value="F" /> Female*@
                                                    </div>
                                                    <div class="form-group">
                                                        <label>Race</label>
                                                        <select id="snEthnicOriginID" name="snEthnicOriginID" class="form-control" required>
                                                           


                                                            <option value="3">Asian</option>
                                                            <option value="11">Bi-Racial</option>
                                                            <option value="1">Black</option>
                                                            <option value="4">Hispanic</option>
                                                            <option value="9">Indian</option>

                                                            <option value="8">Multi-Racial</option>
                                                            <option value="10">Middle Eastern</option>
                                                            <option value="5">Native-American</option>
                                                            <option value="12">Refused to Answer</option>
                                                            <option value="2">White</option>
                                                        </select>
                                                    </div>

                                                </div>
                                                <div class="col-lg-6">
                                                    <div class="form-group">
                                                        <label>Parent(Guardian)</label>
                                                        <select id="SPidParent" name="SPidParent" class="form-control" required>
                                                          
                                                            <option value="3">TAYLOR</option>
                                                            <option value="6">Dammons</option>
                                                            <option value="7">Langon</option>
                                                            <option value="9">Wiggins</option>
                                                            <option value="10">Bordian</option>
                                                            <option value="11">ALLEN</option>
                                                            <option value="12">Sealfon</option>
                                                            <option value="13">Nelson</option>
                                                            <option value="18">BERG</option>
                                                            <option value="20">Sta Ana</option>
                                                            <option value="22">MOSS</option>
                                                            <option value="25">Lauber</option>
                                                            <option value="26">Turdik</option>
                                                            <option value="27">Koehler</option>
                                                            <option value="28">Clark</option>
                                                            <option value="29">Wilson</option>
                                                            <option value="30">Taylor</option>
                                                            <option value="31">Parker</option>
                                                        </select>
                                                       




                                                    </div>
                                                    <div class="form-group">
                                                        <label> Relationship to Child :</label>
                                                        <select id="RelationToChild" name="RelationToChild" class="form-control" required>
                                                           
                                                            <option value="AIDE">AIDE</option>
                                                            <option value="Area Director">Area Director</option>
                                                            <option value="Assitant Director">Assitant Director</option>
                                                            <option value="Assistant Teacher">Assistant Teacher</option>
                                                            <option value="Aunt">Aunt</option>
                                                            <option value="Camp Attendee">Camp Attendee</option>
                                                            <option value="Caregiver">Caregiver</option>
                                                            <option value="Center Teacher">Center Teacher</option>
                                                            <option value="Center Director">Center Director</option>
                                                            <option value="Child Care Provider">Child Care Provider</option>
                                                            <option value="Clinical Director">Clinical Director</option>
                                                            <option value="Co-Director">Co-Director</option>
                                                            <option value="County Worker">County Worker</option>
                                                            <option value="Cousin">Cousin</option>
                                                            <option value="Day Care Teacher">Day Care Teacher</option>
                                                        </select>
                                                   

                                                    </div>
                                                    <div class="form-group">
                                                        <label>Second Parent(Relative)</label>
                                                        <select id="SPidParent1" name="SPidParent1" class="form-control" required>
                                                            

                                                            <option value="3">TAYLOR</option>
                                                            <option value="6">Dammons</option>
                                                            <option value="7">Langon</option>
                                                            <option value="9">Wiggins</option>
                                                            <option value="10">Bordian</option>
                                                            <option value="11">ALLEN</option>
                                                            <option value="12">Sealfon</option>
                                                            <option value="13">Nelson</option>
                                                            <option value="18">BERG</option>
                                                            <option value="20">Sta Ana</option>
                                                            <option value="22">MOSS</option>
                                                            <option value="25">Lauber</option>
                                                            <option value="26">Turdik</option>
                                                            <option value="27">Koehler</option>
                                                            <option value="28">Clark</option>
                                                            <option value="29">Wilson</option>
                                                            <option value="30">Taylor</option>
                                                            <option value="31">Parker</option>
                                                        </select>
                                                    
                                                    </div>
                                                    <div class="form-group">
                                                        <label>Relationship to Child :</label>
                                                        <select id="RelationToChild1" name="RelationToChild1" class="form-control" required>
                                                          
                                                            <option value="AIDE">AIDE</option>
                                                            <option value="Area Director">Area Director</option>
                                                            <option value="Assitant Director">Assitant Director</option>
                                                            <option value="Assistant Teacher">Assistant Teacher</option>
                                                            <option value="Aunt">Aunt</option>
                                                            <option value="Camp Attendee">Camp Attendee</option>
                                                            <option value="Caregiver">Caregiver</option>
                                                            <option value="Center Teacher">Center Teacher</option>
                                                            <option value="Center Director">Center Director</option>
                                                            <option value="Child Care Provider">Child Care Provider</option>
                                                            <option value="Clinical Director">Clinical Director</option>
                                                            <option value="Co-Director">Co-Director</option>
                                                            <option value="County Worker">County Worker</option>
                                                            <option value="Cousin">Cousin</option>
                                                            <option value="Day Care Teacher">Day Care Teacher</option>
                                                        </select>
                                                       
                                                    </div>


                                                </div>
                                                <div class="col-lg-6">
                                                    <div class="form-group">
                                                        <label>Address Number</label>
                                                    @Html.EditorFor(m => m.snAddress_Number , new { htmlAttributes = new { @class = "form-control" } })
                                                        
                                                    </div>
                                                    <div class="form-group">
                                                        <label> Street Name</label>
                                                    @Html.EditorFor(m => m.snAddress_Street , new { htmlAttributes = new { @class = "form-control" } })
                                                       
                                                    </div>
                                                    <div class="form-group">
                                                        <label>#</label>
                                                    @Html.EditorFor(m => m.snAddress_Apartment , new { htmlAttributes = new { @class = "form-control" } })
                                                        
                                                    </div>
                                                    <div class="form-group">
                                                        <label>City</label>
                                                    @Html.EditorFor(m => m.snCity , new { htmlAttributes = new { @class = "form-control" } })
                                                      
                                                    </div>
                                                    <div class="form-group">
                                                        <label>State</label>
                                                    @Html.EditorFor(m => m.snState , new { htmlAttributes = new { @class = "form-control" } })
                                                       
                                                    </div>

                                                </div>
                                                <div class="col-lg-6">
                                                    <div class="form-group">
                                                        <label>Zip</label>
                                                       
                                                    @Html.EditorFor(m => m.snZip , new { htmlAttributes = new { @class = "form-control" } })
                                                    </div>
                                                    <div class="form-group">
                                                        <label>Phone</label>
                                                        
                                                    @Html.EditorFor(m => m.snPhone_Number , new { htmlAttributes = new { @class = "form-control" } })
                                                    </div>
                                                    <div class="form-group">
                                                        <label>Reffered By</label>
                                                    @Html.EditorFor(m => m.RFR , new { htmlAttributes = new { @class = "form-control" } })
                                                       

                                                    </div>
                                                    <div class="form-group">
                                                        <label>Original Type Of Care</label>
                                                    @Html.EditorFor(m => m.typedesc , new { htmlAttributes = new { @class = "form-control" } })
                                                       
                                                    </div>
                                                    <div class="form-group">
                                                        <label>Case Status</label>
                                                    <input class="form-control" type="text" value="Active" >
                                                          
                                                    </div>

                                                </div>
                                                <div class="col-lg-6">
                                                    <div class="form-group">
                                                        <label>Effective Date :</label>
                                                    @Html.EditorFor(m => m.DateAdded , new { htmlAttributes = new { @class = "form-control" } })
                                                       
                                                    </div>
                                                    <div class="form-group">
                                                        <label>Transition Summary Completed</label>
                                                    <input class="form-control" type="text" value="No" disabled="">
                                                        
                                                    </div>
                                                    <div class="form-group">
                                                        <label>Effective Date :</label>
                                                    @Html.EditorFor(m => m.DateAdded , new { htmlAttributes = new { @class = "form-control" } })
                                                       
                                                    </div>
                                                    <div class="form-group">
                                                        <label>Notes</label>
                                                    @Html.EditorFor(m => m.snNotes , new { htmlAttributes = new { @class = "form-control" } })
                                                       
                                                    </div>


                                                </div>
                                               
                                              
                                            </div>

                                        </div>
                                    
                                </div>
                                }
                               
                            </div>
                        </div>
                        <!-- /# column -->
                        <!-- /# column -->
                    </div>
                    <!-- /# row -->



                </section>
            