﻿@model CIC_Api.Models.CenterMemberModel

@{
    ViewData["Title"] = "TrainingSession";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">


<section class="section-box box-content p-0 mt-5">
    <div class="breacrumb-cover01 bg-img-about01">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 card card-body p-4 text-center">
                    <h3 class="mb-10 color-brand-2 py-0" style="font-weight: 700;">Registration for Training</h3>
                </div>
            </div>
        </div>
    </div>
</section>
<br /> <br>


<div class="container text-center">
    <!-- Center-align the form content -->
    <div class="form-group">
        <label for="searchInput">@ViewBag.Label</label><span style="color: red; font-size: large">*</span>
        <input type="text" id="searchInput" class="form-control form-control-sm" list="itemList" />
        <datalist id="itemList"></datalist>
    </div>
    <div class="form-group">
        <label for="autocomplete">Select an item:</label>
        <input type="text" id="autocomplete" class="form-control form-control-sm" />
    </div>

    <!-- Add a Submit button -->
    <button type="submit" class="btn btn-primary">Submit</button>
</div>



@section Scripts {
    <script>
        $(document).ready(function () {
            $("#searchInput").autocomplete({
                source: function (request, response) {
                    if (request.term.length >= 3) {
                        $.ajax({
                            url: "/TrainingSession/GetInfoTraining",
                            type: "GET",
                            dataType: "json",
                            data: { searchTerm: request.term },
                            success: function (data) {
                                response(data);
                            }
                        });
                    }
                }
            });
        });
    </script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

}



