﻿@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor Accessor
@{
    ViewData["Title"] = "_Layoutpage";
}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="msapplication-TileColor" content="#0E0E0E">
    <meta name="template-color" content="#0E0E0E">
    <!-- <link rel="manifest" href="manifest.json" crossorigin> -->
    <meta name="msapplication-config" content="browserconfig.xml">
    <meta name="description" content="Index page">
    <meta name="keywords" content="index, page">
    <meta name="author" content="">
    <link rel="shortcut icon" type="image/x-icon" href="~/imgs/template/fav.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link href="~/css/style.css" rel="stylesheet">
    
    <link href="~/css/custom.css" rel="stylesheet">
    
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

    @* 17-07-18 *@
    <meta name="viewport" content="width=device-width" />
  @*  @System.Web.Optimization.Styles.Render("~/bundles/css")*@
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    @* 17-07-18 *@

    <title>CIC</title>
    <style>
        .footer-copyright-area {
            background: #7052f9;
            padding: 0px;
            text-align: center;
            position: fixed;
            width: 100%;
            bottom: 0;
            font-size: 14px;
            color: #ffffff;
            height: 20px;
            z-index: 1000;
        }
    </style>
</head>
<body>
   
     <div>
        <div id="loader" class="overlay">
            <img src="~/images/ajax-loader (2).gif" />
        </div>
        @if ((@Accessor.HttpContext.Session.GetString("reg") != null) || (@Accessor.HttpContext.Session.GetString("reg") != ""))
      @*  @if (Accessor.HttpContext.Session.GetString("reg") != null)*@
        {
            <input type="hidden" id="hdnPass" value="@Accessor.HttpContext.Session.GetString("Pass")" />
            //11-10-2018 added to check password while editing profile
            <input type="hidden" id="hdnUname" value="@Accessor.HttpContext.Session.GetString("usn")" />
            //11-10-2018 added to check UserName while editing profile
            <input type="hidden" id="regValue" value="@Accessor.HttpContext.Session.GetString("reg")" />
            <input type="hidden" id="LibAdmin" value="@Accessor.HttpContext.Session.GetString("library_admin")" />
            <input type="hidden" id="SessionAdmin" value="@Accessor.HttpContext.Session.GetString("admin")" />
            <input type="hidden" id="SN_manager" value="@Accessor.HttpContext.Session.GetString("SN_manager")" />
            <input type="hidden" id="viewer" value="@Accessor.HttpContext.Session.GetString("viewer")" />
        }
    </div>

    <header>
        <nav class="navbar navbar-dark fixed-top flex-md-nowrap p-0 topNavBar">
            <a class="navbar-brand col-sm-12 col-md-2 mr-0" href="#">Sncc</a>
            <div class="input-group w-100 topShadow">
                <div class="input-group-prepend">
                    <button class="btn btn-child dropdown-toggle p-3 px-4" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span id="choosechildParent"> Child</span>
                        <i class="ti-angle-down"></i>
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item ddSearch" href="#">Child Last Name</a>
                        <div role="separator" class="dropdown-divider"></div>
                        <a class="dropdown-item ddSearch" href="#">Child First Name</a>
                    </div>
                </div>
                <input class="form-control searchInputHeader border-0" type="text" id="txtSearch" aria-label="Search">
                <div class="input-group-append" id="searchbuttondiv">
                    <span class="input-group-text border-0 searchIconBox"><i data-feather="search"></i></span>
                </div>

                <ul class="navbar-nav px-3">
                    <li class="nav-item dropdown">
                        <a class="dropdown-toggle dropdown-toggle-after-hide nav-lnk-toggle" style="justify-content: flex-end;" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img class="userThumb " src="~/images/img/img2.jpg" />
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdown01">
                            <a class="dropdown-item" id="editProfile" href="~/Members/editProfile">Edit Profile</a>
                            <a class="dropdown-item" id="btnLogOff" href="#">Sign Out</a>                          
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </header>


    <div class="container-fluid">
        <div class="row">
            <nav class="col-md-2 d-none d-md-block sidebar leftNavSideBar pt-5 py-5 px-0">
                <div class="sidebar-sticky">
                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <a class="sidetabList nav-link font-weight-bold active" data-tab="1" href="../Login/DashBoard">
                                    <i class="ti-home"></i>
                                    Dashboard <span class="sr-only">(current)</span>
                                </a>
                            </li>
                           
                            <li class="nav-item">
                                <a class="sidetabList nav-link" data-tab="2" href="../Child/ViewChildRecord">
                                    @*<i class="ti-none"></i>*@
                                    Children
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="sidetabList nav-link" data-tab="3" href="../Parent/ViewParentRecord">
                                    @*<i class="ti-none"></i>*@
                                    Parents
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="sidetabList nav-link" data-tab="4" href="../Homeproviders/ViewRecord">
                                    @*<i class="ti-none"></i>*@
                                    Home Providers
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="sidetabList nav-link" data-tab="5" href="../CenterMembers/ViewRecord">
                                    @*<i class="ti-none"></i>*@
                                    Center Members
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="sidetabList nav-link" data-tab="6" href="../TA/GroupTASearch">
                                    @*<i class="ti-none"></i>*@
                                    Technical Assistance
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="sidetabList nav-link" data-tab="7" href="../TrainingSession/DBTSSearch">
                                    @*<i class="ti-none"></i>*@
                                    Trainings
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="sidetabList nav-link" data-tab="8" href="../TA/IntensiveClassroomTASessionForms">
                                    @*<i class="ti-none"></i>*@
                                    Intensive TA
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="sidetabList nav-link" data-tab="9" href="../Library/DBLibrarySearch">
                                    @*<i class="ti-none"></i>*@
                                    Library
                                </a>
                            </li>
                            <li class="nav-item">
                                <a target="_blank" class="sidetabList nav-link menu-wrap" data-tab="10" href="../Documents/Lending Library Documents.pdf">
                                    @*<i class="ti-none"></i>*@
                                    Lending Library Documents
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="sidetabList nav-link menu-wrap" data-tab="11" href="../Report/Reports">
                                    @*<i class="ti-none"></i>*@
                                    Reports
                                </a>
                            </li>
                            <li class="nav-item">
                                <a target="_blank" class="sidetabList nav-link" data-tab="12" href="../Documents/SN SYSTEM MANUAL.pdf">
                                    @*<i class="ti-none"></i>*@
                                    User Manual
                                </a>
                            </li>
                            <li class="nav-item">
                                <a target="_blank" class="sidetabList nav-link" data-tab="13" href="../Documents/SNCC Technical Assistance Manual.pdf">
                                    @*<i class="ti-none"></i>*@
                                    TA Manual
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="sidetabList nav-link" data-tab="14" href="../Log/Log">
                                    @*<i class="ti-none"></i>*@
                                    Logs
                                </a>
                            </li>
                            <li class="nav-item admn">                                                               @*10-10-2018 added as per client request*@
                                <a class="sidetabList nav-link" data-tab="15" href="../Members/viewMembers">
                                    @*<i class="ti-none"></i>*@
                                    Add User
                                </a>
                            </li>
                            @*<li class="nav-item"> 
                                <a class="sidetabList nav-link menu-wrap" data-tab="16" href="../ActionPlan/ViewIntensiveClassroomServiceActionPlan">
                                   
                                    Intensive Classroom Service Action Plan
                                </a>
                            </li>*@
                        </ul>
                    <div class="row">
                        <div class="sideBarFooter">
                            <hr>
                            <h6 class="font-weight-bold"><a href="#">Need Help?</a></h6>
                            <p class="mb-2">
                                <a href="#">216-575-0061</a><br>
                                <a href="#">help@abc.com</a>
                            </p>
                            <p><a href="#" class="text-warning">Visit FAQ</a></p>
                        </div>
                    </div>
                </div>
            </nav>

            <main role="main" class="col-lg-10 table-cont">
                <div class="card border-0">
                    <div class="card-body">
                        @RenderBody()
                    </div>
                </div>
            </main>
           
        </div>
    </div>
    <footer>
        <div class="footer-copyright-area">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="footer-copy-right">

                            Copyright ©
                            <script>
                                document.write(new Date().getFullYear());
                            </script> 
                            All rights reserved | Powered by  Starting Point.@*<a class="text-primary" href="#" target="_blank"> Starting Point.</a>*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    

 @*   @System.Web.Optimization.Scripts.Render("~/bundles/jquery")*@
    @RenderSection("scripts", required: false)
        <script src="~/JavaScript/Custom/dashboard.js"></script>    @*used to get search function*@
        <script type="text/javascript">

            $(function () {
                $('[data-toggle="tooltip"]').tooltip()
            })

            //17-07-17
            $("#loader").hide();
        @*for page loader*@
        $(document).ajaxStart(function () {
            $("#loader").show();
        })
            $(document).ajaxStop(function () {
                $("#loader").hide();
            })

            $("#btnLogOff").click(function () {                  // 20-07-18
                $.ajax({
                    type: "POST",
                    url: "../Login/LogOff/",
                    data: "{}",
                    contentType: "application/json",
                    dataType: "json",
                    async: false,
                    success: function (data) {
                        window.location = "../Login/LoginPage";

                    }
                })

            });

        </script>
</body>
</html>
  <!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->


