﻿

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>CIC</title>

    <!-- ================= Favicon ================== -->
    <!-- Standard -->
    <link rel="shortcut icon" href="http://placehold.it/64.png/000/fff">
    <!-- Retina iPad Touch Icon-->
    <link rel="apple-touch-icon" sizes="144x144" href="http://placehold.it/144.png/000/fff">
    <!-- Retina iPhone Touch Icon-->
    <link rel="apple-touch-icon" sizes="114x114" href="http://placehold.it/114.png/000/fff">
    <!-- Standard iPad Touch Icon-->
    <link rel="apple-touch-icon" sizes="72x72" href="http://placehold.it/72.png/000/fff">
    <!-- Standard iPhone Touch Icon-->
    <link rel="apple-touch-icon" sizes="57x57" href="http://placehold.it/57.png/000/fff">

    <!-- Styles -->

    <link href="~/css/lib/font-awesome.min.css" rel="stylesheet">
    <link href="~/css/lib/themify-icons.css" rel="stylesheet">
    <link href="~/css/lib/menubar/sidebar.css" rel="stylesheet">
    <link href="~/css/lib/bootstrap.min.css" rel="stylesheet">
    <link href="~/css/lib/helper.css" rel="stylesheet">
    <link href="~/css/style.css" rel="stylesheet">
    <!-- Include jQuery UI CSS -->
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

    <!-- Include jQuery and jQuery UI JS -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head>

<body>


    <div class="sidebar sidebar-hide-to-small sidebar-shrink sidebar-gestures">
        <div class="nano">
            <div class="nano-content">
                <ul>
                    <div class="logo">
                        <a href="index.html">
                            <!-- <img src="images/logo.png" alt="" /> --><span>Focus</span>
                        </a>
                    </div>
                    <li class="label">Main</li>



                    <li><a asp-controller="Child" asp-action="ViewChildRecord">Children </a></li>
                    <li><a asp-controller="Parent" asp-action="ViewParentRecord"> Parents </a></li>
                    <li><a asp-controller="HomeProvider" asp-action="ViewRecord">Home Providers</a></li>
                    <li><a asp-controller="CenterMember" asp-action="ViewRecord">Center Members</a></li>







                    <li><a><i class="ti-close"></i> Logout</a></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- /# sidebar -->







    <div class="content-wrap">
        <div class="main">
            <div class="container-fluid">

                <!-- /# row -->
                <section id="main-content">


                   @* @RenderBody()*@

                  @*  <main role="main" class="pb-3">*@
                        @RenderBody()
                   @* </main>*@
                </section>
            </div>
        </div>
    </div>







    <script src="~/js/lib/jquery.min.js"></script>
    <script src="~/js/lib/jquery.nanoscroller.min.js"></script>

    <script src="~/js/lib/menubar/sidebar.js"></script>
    <script src="~/js/lib/preloader/pace.min.js"></script>



    <script src="~/js/lib/bootstrap.min.js"></script>
    <script src="~/js/scripts.js"></script>




    @await RenderSectionAsync("Scripts", required: false)

</body>

</html>