﻿@model CIC_Api.Models.ParentModel
@{
    ViewData["Title"] = "AddNewRecord";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


                  
               
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-title">
                                    <h4>New Parent Record</h4>

                                </div>
                                <div class="card-body">
@using (Html.BeginForm("Create", "Parent", FormMethod.Post, new { @id = "CNenrollment" }))
{
       <div class="basic-elements">
                                
                                            <div class="row">
                                                
                                                
                                                <div class="col-lg-6">
                                                    <div class="form-group">
                                                        <label> Name<span style="color:red; float:right">*</span> </label>
                                                        <input type="text" id="Last_Name" name="Last_Name" class="form-control" placeholder="Name" required />
                                                    </div>
                                                    <div class="form-group">
                                                        <label> First Name<span style="color:red; float:right">*</span> </label>
                                                        <input type="text" id="First_Name" name="First_Name" class="form-control" placeholder="First Name" required />
                                                    </div>
                                                    <div class="form-group">
                                                    <label>Middle Initial</label>
                                                    <input type="text" id="MI" name="MI" class="form-control" placeholder="Middle Name"  />
                                                    </div>
                                                    <div class="form-group">
                                                        <label>Date Of Birth (mm/dd/yyyy)<span style="color:red; float:right">*</span> </label>
                                                        <input type="date" id="DOB" name="DOB" class="form-control" placeholder="" required />
                                                    </div>
                                                    <div class="form-group">
                                                    <label>Last 4 Digits of SSN  <span style="color:red; float:right">*</span></label>
                                                        <input type="text" id="PartialSSN" name="PartialSSN" class="form-control" placeholder="0000" maxlength="4" size="4" required />
                                                    </div>

                                                </div>
                                                <div class="col-lg-6">
                                                   
                                                    <div class="form-group">
                                                     <label class="form-check-label">Gender <span style="color:red;font:larger">*</span></label>
                                                        <input checked="checked" name="Gender" type="radio" value="M" /> Male
                                                        <input name="Gender" type="radio" value="F" /> Female
                                                    </div>
                                                    <div class="form-group">
                                                        <label>Race<span style="color:red; float:right">*</span></label>
                                                        <select id="EthnicOriginID" name="EthnicOriginID" class="form-control" required>
                                                        <option disabled selected value="0">--Select--</option>
                                                      

                                                        <option value="3">Asian</option>
                                                        <option value="11">Bi-Racial</option>
                                                        <option value="1">Black</option>
                                                        <option value="4">Hispanic</option>
                                                        <option value="9">Indian</option>
                                                      
                                                        <option value="8">Multi-Racial</option>
                                                            <option value="10">Middle Eastern</option>
                                                        <option value="5">Native-American</option>
                                                        <option value="12">Refused to Answer</option>
                                                        <option value="2">White</option>
                                                    </select>
                                                    </div>
                                                    <div class="form-group">
                                                        <label> Address Number <span style="color:red; float:right">*</span></label>
                                                        <input type="text" id="Address_Number" name="Address_Number" placeholder="" class="form-control" required>
                                                    </div>
                                               
                                                </div>
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                        <label> Street Name <span style="color:red; float:right">*</span></label>
                                                        <input type="text" id="Address_Street" class="validate[required] form-control">
                                                    
                                                    
                                                </div>
                                                <div class="form-group">
                                                        <label> # : </label>
                                                        <input type="text" id="Address_Apartment" name="Address_Apartment" placeholder="" class="form-control">
                                                   
                                                </div>
                                                <div class="form-group">
                                                    <label class="form-check-label">City <span style="color: red; float: right; font-size: large">*</span></label>
                                                        <input type="text" id="City" name="City" placeholder="" class="form-control" maxlength="20" size="20" required>
                                                </div>
                                                <div class="form-group">
                                                    <label class="form-check-label">State <span style="color: red; float: right; font-size: large">*</span></label>
                                                        <input type="text" id="State" name="State" placeholder="" class="form-control" maxlength="2" size="2" required>
                                                </div>
                                             
                                               
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                     <label class="form-check-label ">ZIP <span style="color:red; float:right; font-size:large">*</span></label>
                                                        <input type="text" id="Zip" name="Zip" placeholder="" class="form-control" maxlength="5" size="5" required>
                                                </div>
                                                <div class="form-group">
                                                    <label class="form-check-label ">phone</label>

                                                        <input type="text" id="Phone_Number" name="Phone_Number" placeholder="" class="form-control" maxlength="13" size="13">
                                                </div>
                                                <div class="form-group">
                                                    <label class="form-check-label ">E-mail</label>
                                                        <input type="text" id="Email" name="Email" placeholder="" class="form-control" maxlength="50" size="35">
                                                </div>
                                                <div class="form-group">
                                                   <label class="form-check-label ">Family Status</label>
                                                        <select id="FamilyStatusID" name="FamilyStatusID" class="form-control">
                 
                        <option disabled selected value="0">--Select--</option>
                        <option value="Divorced">Divorced</option>
                        <option value="Living Together">Living Together</option>
                        <option value="Married">Married</option>
                        <option value="Not Available">Not Available</option>
                        <option value="Other">Other</option>
                       
                        <option value="Separated">Separated</option>
                        <option value="Single">Single</option>
                        <option value="Stepfamily">Stepfamily</option>
                        <option value="Widowed">Widowed</option>
                        
                    </select>
                                                </div>
                                                <div class="form-group">
                                                 <label class="form-check-label ">Family Income</label>
                                                        <select id="Income" name="Income" class="form-control">
                
                        <option disabled selected value="0">--Select--</option>
                        <option value="0-10000">0-10000</option>
                        <option value="10000-15000">10000-15000</option>
                        <option value="15000-20000">15000-20000</option>
                        <option value="20000-30000">20000-30000</option>
                        <option value="30000-40000">30000-40000</option>
                       
                        <option value="40000-Above">40000-Above</option>
                      
                    </select>
                                                </div>

                                            </div>
                                        @*    <div class="col-lg-6">
                                                <div class="form-group">
                                                    <label class="form-check-label ">Notes</label>
                <textarea id="NotesTb" name="NotesTb" class="form-control"></textarea>
                                                </div>
                                                <div class="form-group">
                                                  
                                                </div>
                                                <div class="form-group">
                                                   
                                                    
                                                </div>
                                                <div class="form-group">
                                                 
                                                </div>
                                                <div class="form-group">
                                                   
                                                </div>

                                            </div>*@
                                          @*  <div class="col-lg-6">
                                                <div class="form-group">
                                                   
                                                </div>
                                                <div class="form-group">
                                                   
                                                </div>
                                                <div class="form-group">
                                                   
                                                </div>
                                                <div class="form-group">
                                                  
                                                </div>
                                               

                                            </div>*@
                                            @*<button type="submit" value="Create" class="btn btn-primary">Save</button>*@
                                            <button class="view viewer btn btn-success mr-2">Save</button>
                                            @*<button id="btnBack" type="button" class="btn btn-outline-secondary mr-2">Back</button>
                                            <button id="btnSave" type="button" class="btn btn-success mr-2">Save</button>*@
                                            </div>
                                        
                                    </div>  
                                    
}
</div>
                            </div>
                        </div>
                        <!-- /# column -->
                   
                        <!-- /# column -->
                    </div>
               


                 
              