﻿@model IEnumerable<CIC_Api.Models.ParentModel>
@{
    
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<h4>Parent Details</h4>


                <section id="main-content">
                    <div class="row">
                        <div class="col-lg-12">
                          
                                <input type="button" class="btn btn-primary btn-rounded m-b-10 m-l-5" style="float: right;" value="Add Parent" onclick="location.href='@Url.Action("AddNewRecord", "Parent")'" />

                      
                            <div class="card">
                                <div class="bootstrap-data-table-panel">
                                    <div class="table-responsive">
                                        <table id="bootstrap-data-table-export" class="table table-striped table-bordered">
                                            <thead>
                                                <tr>
                                                    <th>Auto ID</th>
                                                    <th>Parent ID</th>
                                <th>last Name</th>
                                <th>First Name</th>
                                <th>Address</th>
                                <th>Phone</th>
                                <th>Actions</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var item in Model)
                                                {
                                                   @* bool str = item.is_active;
                                                    string str1 = str.ToString();*@

                                                   <tr>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.AutoID)
                                                        </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.SPid)
                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.Last_Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.First_Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Address)
                                    </td>


                                    <td>
                                        @Html.DisplayFor(modelItem => item.Phone_Number)
                                    </td>


                                    <td>
                                                            <a href="@Url.Action("ViewParent", "Parent",new { AutoID = @item.AutoID,view="view" })" class="edit" title="Edit" data-toggle="tooltip">View</a>
                                                            <a href="@Url.Action("ViewParent", "Parent",new { AutoID = @item.AutoID ,view="edit"})" class="edit" title="Edit" data-toggle="tooltip">Edit</a>
                                     
                                    </td>


                                </tr>
                                                }
                                               
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <!-- /# card -->
                        </div>
                        <!-- /# column -->
                    </div>
                    <!-- /# row -->

                    <div class="row">
                        <div class="col-lg-12">
                            <div class="footer">
                                <p>2018 © Admin Board. - <a href="#">example.com</a></p>
                            </div>
                        </div>
                    </div>
                </section>
            
               







    <script src="~/js/lib/jquery.min.js"></script>
    <script src="~/js/lib/jquery.nanoscroller.min.js"></script>
    <!-- nano scroller -->
    <script src="~/js/lib/menubar/sidebar.js"></script>
    <script src="~/js/lib/preloader/pace.min.js"></script>
  

    <script src="~/js/lib/bootstrap.min.js"></script>
    <script src="~/js/scripts.js"></script>
  
    <script src="~/js/lib/data-table/datatables.min.js"></script>
    <script src="~/js/lib/data-table/dataTables.buttons.min.js"></script>
    <script src="~/js/lib/data-table/buttons.flash.min.js"></script>
    <script src="~/js/lib/data-table/jszip.min.js"></script>
    <script src="~/js/lib/data-table/pdfmake.min.js"></script>
    <script src="~/js/lib/data-table/vfs_fonts.js"></script>
    <script src="~/js/lib/data-table/buttons.html5.min.js"></script>
    <script src="~/js/lib/data-table/buttons.print.min.js"></script>
    <script src="~/js/lib/data-table/datatables-init.js"></script>











