﻿

@model CIC_Api.Models.ParentModel
@{
   
    Layout = "~/Views/Shared/_Layout.cshtml";
}



                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-title">
                                    <h4>View Parent Record</h4>

                                </div>
                                   @if (ViewBag.msg=="view")
                                {
                                    <div class="card-body">

                                    <div class="basic-elements">

                                        <div class="row">


                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <label> Name </label>


                                                    @Html.EditorFor(model => model.Last_Name, new { htmlAttributes = new { @class = "form-control", @disabled = "" } })
                                                </div>
                                                <div class="form-group">
                                                    <label> First Name </label>

                                                    @Html.EditorFor(model => model.Last_Name, new { htmlAttributes = new { @class = "form-control", @disabled = "" } })
                                                    @* <input type="text" id="NotServedReason" name="NotServedReason" class="form-control" />*@
                                                </div>
                                                <div class="form-group">
                                                    <label>Middle Initial</label>
                                                    @Html.EditorFor(model => model.MI, new { htmlAttributes = new { @class = "form-control", @disabled = "" } })
                                                    @*  @Html.EditorFor(m => m.snLast_Name)*@
                                                    @*<input type="text" id="snLast_Name" name="snLast_Name" class="form-control" />*@
                                                </div>
                                                <div class="form-group">
                                                    <label> Date Of Birth</label>
                                                    @Html.EditorFor(model => model.DOB, new { htmlAttributes = new { @class = "form-control", @disabled = "" } })
                                                  
                                                    @*<input type="text" id="snFirst_Name" name="snFirst_Name" class="form-control" />*@
                                                </div>
                                                <div class="form-group">
                                                    <label>Last 4 Digits of SSN  <span style="color:red; float:right">*</span></label>>
                                                    @Html.EditorFor(m => m.PartialSSN , new { htmlAttributes = new { @class = "form-control", @disabled = "" } })
                                                    @* <input type="text" id="snMI" name="snMI" class="form-control" />*@
                                                </div>

                                            </div>
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <label>Gender</label>
                                                    @Html.EditorFor(m => m.Gender , new { htmlAttributes = new { @class = "form-control", @disabled = "" } })
                                                    @* <input type="date" id="snDOB" name="snDOB" class="form-control" placeholder="" />*@
                                                </div>
                                                <div class="form-group">
                                                    <label>Race</label>
                                                    @Html.EditorFor(m => m.EthnicOriginID , new { htmlAttributes = new { @class = "form-control", @disabled = "" } })
                                                  
                                                </div>
                                                <div class="form-group">
                                                    <label> Address Number </label>
                                                    @Html.EditorFor(m => m.Address_Number , new { htmlAttributes = new { @class = "form-control", @disabled = "" } })
                                                    @*<input checked="checked" name="snGender" type="radio" value="M" /> Male
                                                    <input name="snGender" type="radio" value="F" /> Female*@
                                                </div>
                                                <div class="form-group">
                                                    <label>Street Name :</label>
                                                    @Html.EditorFor(m => m.Address_Street , new { htmlAttributes = new { @class = "form-control", @disabled = "" } })

                                                </div>

                                            </div>
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <label># :</label>
                                                    @Html.EditorFor(m => m.Address_Apartment , new { htmlAttributes = new { @class = "form-control", @disabled = "" } })





                                                </div>
                                                <div class="form-group">
                                                    <label> City</label>
                                                    @Html.EditorFor(m => m.City , new { htmlAttributes = new { @class = "form-control", @disabled = "" } })


                                                </div>
                                                <div class="form-group">
                                                    <label>State</label>
                                                    @Html.EditorFor(m => m.State , new { htmlAttributes = new { @class = "form-control", @disabled = "" } })

                                                </div>
                                                <div class="form-group">
                                                    <label>ZIP</label>
                                                    @Html.EditorFor(m => m.Zip , new { htmlAttributes = new { @class = "form-control", @disabled = "" } })

                                                </div>


                                            </div>
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <label>Phone</label>
                                                    @Html.EditorFor(m => m.Phone_Number , new { htmlAttributes = new { @class = "form-control", @disabled = "" } })

                                                </div>
                                                <div class="form-group">
                                                    <label>EMail</label>
                                                    @Html.EditorFor(m => m.Email , new { htmlAttributes = new { @class = "form-control", @disabled = "" } })

                                                </div>
                                                <div class="form-group">
                                                    <label>Family Status</label>
                                                    @Html.EditorFor(m => m.FamilyStatusID , new { htmlAttributes = new { @class = "form-control", @disabled = "" } })

                                                </div>
                                                <div class="form-group">
                                                    <label>Income</label>
                                                    @Html.EditorFor(m => m.Income , new { htmlAttributes = new { @class = "form-control", @disabled = "" } })

                                                </div>
                                                

                                            </div>
                                         
                                        

                                            @*<button id="btnBack" type="button" class="btn btn-outline-secondary mr-2">Back</button>
                                            <button id="btnSave" type="button" class="btn btn-success mr-2">Save</button>*@
                                        </div>

                                    </div>

                                </div>
                                }
                                else
                                {
                                    <div class="card-body">

                                    <div class="basic-elements">

                                        <div class="row">


                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <label> Name </label>


                                                    @Html.EditorFor(model => model.Last_Name, new { htmlAttributes = new { @class = "form-control" } })
                                                </div>
                                                <div class="form-group">
                                                    <label> First Name </label>

                                                    @Html.EditorFor(model => model.Last_Name, new { htmlAttributes = new { @class = "form-control" } })
                                                    @* <input type="text" id="NotServedReason" name="NotServedReason" class="form-control" />*@
                                                </div>
                                                <div class="form-group">
                                                    <label>Middle Initial</label>
                                                    @Html.EditorFor(model => model.MI, new { htmlAttributes = new { @class = "form-control" } })
                                                    @*  @Html.EditorFor(m => m.snLast_Name)*@
                                                    @*<input type="text" id="snLast_Name" name="snLast_Name" class="form-control" />*@
                                                </div>
                                                <div class="form-group">
                                                    <label> Date Of Birth</label>
                                                    @Html.EditorFor(model => model.DOB, new { htmlAttributes = new { @class = "form-control" } })
                                                  
                                                    @*<input type="text" id="snFirst_Name" name="snFirst_Name" class="form-control" />*@
                                                </div>
                                                <div class="form-group">
                                                    <label>Last 4 Digits of SSN  <span style="color:red; float:right">*</span></label>>
                                                    @Html.EditorFor(m => m.PartialSSN , new { htmlAttributes = new { @class = "form-control" } })
                                                    @* <input type="text" id="snMI" name="snMI" class="form-control" />*@
                                                </div>

                                            </div>
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <label>Gender</label>
                                                    @Html.EditorFor(m => m.Gender , new { htmlAttributes = new { @class = "form-control" } })
                                                    @* <input type="date" id="snDOB" name="snDOB" class="form-control" placeholder="" />*@
                                                </div>
                                                <div class="form-group">
                                                    <label>Race</label>
                                                        <select id="snEthnicOriginID" name="snEthnicOriginID" class="form-control" required>
                                                           


                                                            <option value="3">Asian</option>
                                                            <option value="11">Bi-Racial</option>
                                                            <option value="1">Black</option>
                                                            <option value="4">Hispanic</option>
                                                            <option value="9">Indian</option>

                                                            <option value="8">Multi-Racial</option>
                                                            <option value="10">Middle Eastern</option>
                                                            <option value="5">Native-American</option>
                                                            <option value="12">Refused to Answer</option>
                                                            <option value="2">White</option>
                                                        </select>
                                                   
                                                </div>
                                                <div class="form-group">
                                                    <label> Address Number </label>
                                                    @Html.EditorFor(m => m.Address_Number , new { htmlAttributes = new { @class = "form-control"} })
                                                    @*<input checked="checked" name="snGender" type="radio" value="M" /> Male
                                                    <input name="snGender" type="radio" value="F" /> Female*@
                                                </div>
                                                <div class="form-group">
                                                    <label>Street Name :</label>
                                                    @Html.EditorFor(m => m.Address_Street , new { htmlAttributes = new { @class = "form-control" } })

                                                </div>

                                            </div>
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <label># :</label>
                                                    @Html.EditorFor(m => m.Address_Apartment , new { htmlAttributes = new { @class = "form-control" } })





                                                </div>
                                                <div class="form-group">
                                                    <label> City</label>
                                                    @Html.EditorFor(m => m.City , new { htmlAttributes = new { @class = "form-control" } })


                                                </div>
                                                <div class="form-group">
                                                    <label>State</label>
                                                    @Html.EditorFor(m => m.State , new { htmlAttributes = new { @class = "form-control" } })

                                                </div>
                                                <div class="form-group">
                                                    <label>ZIP</label>
                                                    @Html.EditorFor(m => m.Zip , new { htmlAttributes = new { @class = "form-control" } })

                                                </div>


                                            </div>
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <label>Phone</label>
                                                    @Html.EditorFor(m => m.Phone_Number , new { htmlAttributes = new { @class = "form-control"} })

                                                </div>
                                                <div class="form-group">
                                                    <label>EMail</label>
                                                    @Html.EditorFor(m => m.Email , new { htmlAttributes = new { @class = "form-control" } })

                                                </div>
                                                <div class="form-group">
                                                    <label>Family Status</label>
                                                        <select id="FamilyStatusID" name="FamilyStatusID" class="form-control">

                                                           
                                                            <option value="Divorced">Divorced</option>
                                                            <option value="Living Together">Living Together</option>
                                                            <option value="Married">Married</option>
                                                            <option value="Not Available">Not Available</option>
                                                            <option value="Other">Other</option>

                                                            <option value="Separated">Separated</option>
                                                            <option value="Single">Single</option>
                                                            <option value="Stepfamily">Stepfamily</option>
                                                            <option value="Widowed">Widowed</option>

                                                        </select>

                                                </div>
                                                <div class="form-group">
                                                    <label>Income</label>
                                                        <select id="Income" name="Income" class="form-control">

                                                          
                                                            <option value="0-10000">0-10000</option>
                                                            <option value="10000-15000">10000-15000</option>
                                                            <option value="15000-20000">15000-20000</option>
                                                            <option value="20000-30000">20000-30000</option>
                                                            <option value="30000-40000">30000-40000</option>

                                                            <option value="40000-Above">40000-Above</option>

                                                        </select>

                                                </div>
                                                

                                            </div>
                                         
                                        

                                           @* <button id="btnBack" type="button" class="btn btn-outline-secondary mr-2">Back</button>*@
                                            <button id="btnSave" type="button" class="btn btn-success mr-2">Update</button>
                                        </div>

                                    </div>

                                </div>
                                }
                                
                            </div>
                        </div>
                        <!-- /# column -->
                        <!-- /# column -->
                    </div>
                    <!-- /# row -->




