body {
	font-family: 'Poppins', sans-serif;
}
.loginWraper {
	height: 100vh;
}
.loginBgCol {
	/*background: url(../img/login-bg.jpg) no-repeat;
	background-size: 75%;
	background-position: center bottom;*/
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: space-around;
}
.loginBgCol img {
	-webkit-align-self: center;
	-ms-flex-item-align: center;
	align-self: center;
}
.loginTitle {
	font-weight: 700;
}
.font-weight-300 {
	font-weight: 300;
}
.font-weight-700 {
	font-weight: 700;
}
.loginFormWraper {
	background: #fafafd; 
}
.innerPadding {
	/*padding: 10rem 3rem!important;*/
}
.customSubmitBtn {
	width: 100%;
	text-transform: uppercase;
	border-radius: 0;
	padding: .8rem;
    font-weight: 600;
}
.formBox {
/*	width: 80%;*/
}
.formBox input.form-control {
	padding: 1rem!important;
	border-radius: 8px;
}
.warnMsg {
	font-size: 90%;
}