body {
	font-family: 'Poppins', sans-serif;
	padding-top: 9rem;
     font-size: 0.95rem;
    color: #444;
}

.bg-info { background-color: #7ea5fc!important; }
.text-info { color: #7ea5fc!important; }

.bg-danger { background-color: #f88e92!important; }
.text-danger { color: #f88e92!important; }

.bg-warning { background-color: #e5ac51!important; }
.text-warning { color: #e5ac51!important; }

.text-muted { color: #b6b3ce!important; }
.text-secondary { color: #6d6587!important; }

.topNavBar {
	background: #fafafd;
}
.topShadow {
	box-shadow: 0 4px 9px -2px #e6e3f3;
	    padding: 2rem 1.5rem;
}
header .navbar-brand {
	padding: 3rem 0;
	background: #7052f9;
	text-align: center;
	text-transform: uppercase;
	font-size: 2rem;
	font-weight: bold;
}
header .userThumb {
	width: 60px;
	height: 60px;
	border-radius: 50%;
    object-fit: cover;
}
header .navbar-nav .dropdown-menu {
	position: absolute;
}
header .nav-lnk-toggle {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
}
header .nav-lnk-toggle:after {
	border-top: .3em solid #754ef9;
}
header .btn-child {
	background: #f0f0f7;
}
header .btn-child:after {
	margin-left: 4rem;
	display: none;
}
header .btn-child i {
	margin-left: 4rem;	
	color: #999;
}
header .searchIconBox {
	background: #b6b3ce;
	padding: 0 1.4rem;
	color: #fff;
}
.leftNavSideBar {
	background: #7052f9;
}
.leftNavSideBar .nav-link {
	color: #b7c4f5;
    position: relative;
	/*padding: 1rem 2.2rem;*/
       /*padding: 1.5rem 0.75rem;
	position: relative;
	overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden;
text-overflow: ellipsis;
white-space: nowrap;
display: block;
display: -webkit-box !important;
-webkit-line-clamp: 1;
-moz-line-clamp: 2;
-ms-line-clamp: 1;
-o-line-clamp: ;
line-clamp: 1;
-webkit-box-orient: vertical;
-moz-box-orient: vertical;
-ms-box-orient: vertical;
-o-box-orient: vertical;
box-orient: vertical;*/
    padding: .5rem 1rem;

}
.leftNavSideBar .nav-item {
	padding-bottom: .1rem;
}
.leftNavSideBar a.nav-link i {
	width: 20px;
	display: inline-block;
	/*margin-right: 1.5rem;*/
    margin-right: 1rem;
}
.leftNavSideBar a.nav-link.active {
	background: #624df0;
	color: #fff;
	font-weight: 600;
	
}
.leftNavSideBar a.nav-link.active:after {
	width: 10px;
	height: 100%;
	position: absolute;
	content: '';
	background: #e5ac51;
	top: 0;
	left: 0;
}
.line-height-1 {
	line-height: 1rem;
}
.smallx {
	font-size: 90%;
}
.custom-card .card {
	border-radius: .5rem;
	border: 0;
	box-shadow: 4px 4px 15px 4px #e6e3f3;
}
.card-statistics {
	background: #f2efff;
}
.custom-progress-bar {
	height: .5rem;
}
.custom-card {
	margin-bottom: 2.7rem;
}
.customListType1 {
	
}
.customListType1 .list-group-item {
	background: transparent;
	border: 0;
	border-bottom: 1px solid #e5dfff;
}
.customListType1 .listTitle {
	font-weight: bold;
	font-size: 93%;
	margin-top: .5rem;
	position: relative;
}
.customListType1 .listDesc {
	color: #6d6587;
	font-size: 90%;
	font-weight: 300;
}
.customListType1 .listTitle svg {
    position: absolute;
    left: -22px;
    top: -3px;
}
.sideBarFooter {
	font-size: 98%;
    position: relative;
    left: 5.2rem;
    bottom: 0;
}
.sideBarFooter a {
	color: #b7c4f5;
}
.sideBarFooter hr {
	width: 70%;
    border-top: 2px solid #8288ac;
    margin-left: 0;
    margin-bottom: 1.5rem;
}
.main_title {
	color: #4d4d59;
}
.c-f{
        font-weight: 600 !important;
    font-size: 0.8rem !important;
    color: #686868 !important;
}
/*.menu-wrap{
     text-overflow: ellipsis;
     white-space: normal;
     display: block;
     display: -webkit-box!important;
     -webkit-line-clamp: 1;
     -moz-line-clamp: 1;
     -ms-line-clamp: 1;
     -o-line-clamp: 1;
     line-clamp: 1;
     -webkit-box-orient: vertical;
     -moz-box-orient: vertical;
     -ms-box-orient: vertical;
     -o-box-orient: vertical;
     box-orient: vertical;
}*/
.table-cont table td
{
    font-size:0.90rem!important;
}