﻿@model CIC_Api.Models.CenterMemberModel

@{
    ViewData["Title"] = "ViewHomeProvider";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<br />
<h2 class="text-center">HomeProvider Record</h2>
<br />


<div class="col-sm-12">
    <div class="col-sm-6 p-3 row">
        <div class="col-sm-12">
            <label class="form-check-label">HomeProvider's ID* <span></span></label>
            @Html.HiddenFor(model => model.AutoID)
            @Html.HiddenFor(model => model.SPid)
            @Html.TextBoxFor(model => model.SPid, new { @class = "form-control", @maxlength = "5", @size = "5", @readonly = "readonly" })
        </div>
    </div>
    <div class="col-sm-12 row p-3">
        <div class="col-sm-4">
            <label> Name <span style="color:red; float:right">*</span></label>
            @Html.EditorFor(model => model.Last_Name, new { htmlAttributes = new { @class = "form-control", @placeholder = "Name", @readonly = "readonly" } })
        </div>
        <div class="col-sm-4">
            <label> First Name <span style="color:red; float:right">*</span></label>
            @Html.EditorFor(model => model.First_Name, new { htmlAttributes = new { @class = "form-control", @placeholder = "First Name", @readonly = "readonly" } })
        </div>
        <div class="col-sm-4">
            Middle Initial
            @Html.EditorFor(model => model.MI, new { htmlAttributes = new { @class = "form-control", @placeholder = "Middle Name", @readonly = "readonly" } })
        </div>
    </div>
    <div class="col-sm-12 row p-3">
        <div class="col-sm-6">
            <label>Date Of Birth (mm/dd/yyyy) <span style="color:red; float:right">*</span></label>
            @{
                string formattedDate = Model.DOB.ToString("MM/dd/yyyy");
            }
            <div class="input-group">
                <input type="date" asp-for="DOB" class="form-control" required readonly />
            </div>
        </div>
        <div class="col-sm-6">
            <label>Last 4 Digits of SSN  <span style="color:red; float:right">*</span></label>
            00000- @Html.EditorFor(model => model.PartialSSN, new { htmlAttributes = new { @class = "form-control", @placeholder = "SSN", @required = "required", @readonly = "readonly" } })
        </div>
    </div>
    <div class="col-sm-12 row p-3">
        <div class="col-sm-2">
            <label class="form-check-label">Gender <span style="color:red;font-size: larger">*</span></label>
        </div>
        <div class="col-sm-2">
            @Html.RadioButtonFor(model => model.Gender, "M", new { @checked = "checked", @disabled = "disabled" }) Male
            @Html.RadioButtonFor(model => model.Gender, "F", new { @disabled = "disabled" }) Female
        </div>
    </div>
    <div class="col-sm-6 p-3 row">
        <div class="col-sm-12">
            <label>Race<span style="color:red; float:right">*</span></label>
            @Html.DropDownListFor(model => model.Race, new SelectList(new[]
            {
            new { Value = "0", Text = "--Select--" },
            new { Value = "Asian", Text = "Asian" },
            new { Value = "Bi-Racial", Text = "Bi-Racial" },
            new { Value = "Black", Text = "Black" },
            new { Value = "Hispanic", Text = "Hispanic" },
            new { Value = "Indian", Text = "Indian" },
            new { Value = "Middle Eastern", Text = "Middle Eastern" },
            new { Value = "Multi-Racial", Text = "Multi-Racial" },
            new { Value = "Native-American", Text = "Native-American" },
            new { Value = "Refused to Answer", Text = "Refused to Answer" },
            new { Value = "White", Text = "White" }
            }, "Value", "Text"), new { @class = "form-control", @required = "required", @disabled = "disabled" })
        </div>
    </div>
    <div class="col-sm-12 p-3">
        <div class="row">
            <div class="col-sm-4">
                <label>Address Number:<span style="color:red; float:right">*</span></label>
                @Html.EditorFor(model => model.Address_Number, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
            </div>
            <div class="col-sm-4">
                <label>Street Name:<span style="color:red; float:right">*</span></label>
                @Html.EditorFor(model => model.Address_Street, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
            </div>
            <div class="col-sm-4">
                <label># :</label>
                @Html.EditorFor(model => model.Address_Apartment, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
            </div>
        </div>
    </div>
    <div class="col-sm-12 p-3 row">
        <div class="col-sm-6">
            <label class="form-check-label">City <span style="color: red; float: right; font-size: large">*</span></label>
            @Html.EditorFor(model => model.City, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
        </div>
        <div class="col-sm-6">
            <label class="form-check-label">State <span style="color: red; float: right; font-size: large">*</span></label>
            @Html.EditorFor(model => model.State, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
        </div>
    </div>
    <div class="col-sm-6 p-3 row">
        <div class="col-sm-12">
            <label class="form-check-label ">ZIP <span style="color:red; float:right; font-size:large">*</span></label>
            @Html.EditorFor(model => model.Zip, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
        </div>
    </div>
    <div class="col-sm-12 p-3 row">
        <div class="col-sm-6">
            <label class="form-check-label">Phone</label>
            @Html.EditorFor(model => model.Phone_Number, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
        </div>
        <div class="col-sm-6">
            <label class="form-check-label">E-mail</label>
            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
        </div>
    </div>
    <div class="col-sm-12 p-3 row">
        <div class="col-sm-6">
            <label class="form-check-label">Certification</label>
            <br />
            @Html.CheckBoxFor(m => m.Certified, new { disabled = "disabled" }) Certified
            &nbsp;&nbsp;@Html.CheckBoxFor(m => m.Uncertified, new { disabled = "disabled" }) Uncertified
            &nbsp;&nbsp;@Html.CheckBoxFor(m => m.PPI, new { disabled = "disabled" }) Parent Provider Inspected

            <br>
            &nbsp;&nbsp;@Html.CheckBoxFor(m => m.OtherHomeType, new { disabled = "disabled" }) &nbsp;Add New: Specify:  @Html.EditorFor(model => model.OtherSpecify, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
        </div>
    </div>


    <div class="col-sm-6 p-3 row">
        <div class="col-sm-12">
            <label class="form-check-label ">Notes</label>
            @Html.TextAreaFor(model => model.Notes, new { @class = "form-control", @readonly = "readonly" })
        </div>
    </div>
</div>

<br />
<br />
<div class="row mb-3 justify-content-center">
    <div class="col-auto">
        <button class="view viewer btn btn-sm btn-success mr-2">Back</button>
    </div>
</div>


