﻿@model IEnumerable<CIC_Api.Models.CenterMemberModel>
@{
    ViewData["Title"] = "ViewRecord";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<section class="section-box box-content p-0 mt-5">
    <div class="breacrumb-cover01 bg-img-about01">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 card card-body p-4 text-center">
                    <h3 class="mb-10 color-brand-2 py-0" style="font-weight: 700;">View Home Provider Record</h3>
                </div>
            </div>
        </div>
    </div>
</section>
<br />
<div class="">
    <a asp-controller="HomeProvider" asp-action="AddNewRecord" class="btn btn-primary">ADD NEW</a>
</div>
<br />
<section id="main-content">
    <div class="row">
        <div class="col-lg-12">



            <div class="card">

                <div class="bootstrap-data-table-panel">
                   
                    <div class="table-responsive">
                        <br />
                        <table id="bootstrap-data-table-export" class="table table-striped table-bordered">
                            <thead>
                                <tr>

                                    <th>Home Provider's ID</th>
                                    <th>last Name</th>
                                    <th>First Name</th>
                                    <th>Address</th>
                                    <th>Phone</th>

                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>

                                @foreach (var item in Model)
                                {


                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.SPid)
                                        </td>

                                        <td>
                                            @Html.DisplayFor(modelItem => item.Last_Name)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.First_Name)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Address)
                                        </td>


                                        <td>
                                            @{
                                                string phoneNumber = item.Phone_Number;
                                                string formattedPhoneNumber = string.Format("({0}){1}-{2}",
                                                phoneNumber.Substring(0, 3),
                                                phoneNumber.Substring(3, 3),
                                                phoneNumber.Substring(6));
                                            }
                                            @formattedPhoneNumber
                                            @*@Html.DisplayFor(modelItem => item.Phone_Number)*@
                                        </td>

                                        <td>
                                            <a href="@Url.Action("ViewHomeProvider", "HomeProvider",new { AutoID = @item.AutoID })" class="edit colour_blue" title="Edit" data-toggle="tooltip">View</a>
                                            <a href="@Url.Action("EditHomeProvider", "HomeProvider",new { AutoID = @item.AutoID })" class="edit colour_blue" title="Edit" data-toggle="tooltip">Edit</a>
                                            <a href="@Url.Action("RegisterNewTraining", "TrainingSession")" class="edit colour_blue" title="Reg" data-toggle="tooltip">Reg</a>

                                        </td>


                                    </tr>
                                }


                            </tbody>

                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>

    </section>

<script src="~/js/lib/bootstrap.min.js"></script>
<script src="~/js/scripts.js"></script>
<!-- scripit init-->
<script src="~/js/lib/data-table/datatables.min.js"></script>
<script src="~/js/lib/data-table/dataTables.buttons.min.js"></script>
<script src="~/js/lib/data-table/buttons.flash.min.js"></script>
<script src="~/js/lib/data-table/jszip.min.js"></script>
<script src="~/js/lib/data-table/pdfmake.min.js"></script>
<script src="~/js/lib/data-table/vfs_fonts.js"></script>
<script src="~/js/lib/data-table/buttons.html5.min.js"></script>
<script src="~/js/lib/data-table/buttons.print.min.js"></script>
<script src="~/js/lib/data-table/datatables-init.js"></script>

<style>
    .colour_blue {
        color: blue;
    }
</style>