﻿@model CIC_Api.Models.CentersModel
@{
    ViewData["Title"] = "AddNewRecord";
}
<br />
<h2 class="text-center">Add Center Record</h2>
<br />
@using (Html.BeginForm("CreateCenter", "CenterMember", FormMethod.Post, new { @id = "CNenrollment" }))
{
    <div class="col-sm-12">

        <div class="col-sm-12 row p-3">
            <div class="col-sm-6">
                <label class="form-check-label">Center Name <span style="color:red;font:larger">*</span></label>
                <input type="text" id="CName" name="CName" class="form-control" placeholder="Center Name" required />
               
            </div>
           
        </div>
        <div class="col-sm-12 row p-3">
          
            <div class="col-sm-6">
                <label class="form-check-label">Phone <span style="color:red;font:larger">*</span></label>
                <input type="text" name="CPhone" id="txtPhone" class="form-control validate[required,custom[phone]]" placeholder="" maxlength="13" size="13" required />
                <!-- <input type="text" id="SSNTb" placeholder="0000" maxlength="4" size="4" class="validate[required,custom[onlyNumberSp]] form-control"> -->
            </div>
        </div>
      
        <div class="col-sm-6 p-3 row">
            <div class="col-sm-12">
                <label class="form-check-label">Type of Facility <span style="color:red;font:larger">*</span></label>

                @Html.DropDownList("FacilityID", new SelectList(ViewBag.type, "Id", "type"), "-Type of facility-", new { id = "dd_child", @class = "form-control" })


            </div>

        </div>



      


        <div class="col-sm-12 p-3 row">
            <div class="col-sm-6">
                <label class="form-check-label">Address <span style="color:red;font:larger">*</span></label>
                <input type="text" id="CStreet" name="CStreet" placeholder="" class="form-control" >
            </div>
           
        </div>

        <div class="col-sm-6 p-3 row">
            <div class="col-sm-12">
                <label class="form-check-label">City <span style="color:red;font:larger">*</span></label>
                <input type="text" id="CCity" name="CCity" placeholder="" class="form-control" >

            </div>
        </div>
        <div class="col-sm-6 p-3 row">
            <div class="col-sm-12">
                <label class="form-check-label">State <span style="color:red;font:larger">*</span></label>
                <input type="text" id="CState" name="CState" placeholder="" class="form-control">

            </div>
        </div>
        <div class="col-sm-6 p-3 row">
            <div class="col-sm-12">
                <label class="form-check-label">ZIP <span style="color:red;font:larger">*</span></label>
                <input type="text" id="CZip" name="CZip" placeholder="" class="form-control validate[required,custom[zip]]" maxlength="5" size="5">

            </div>
        </div>
        <div class="col-sm-12 p-3 row">
            <div class="col-sm-6">
                <label class="form-check-label">FAX </label>
                <input type="text" id="CFax" name="CFax" placeholder="" class="form-control validate[custom[phone]]" maxlength="13" size="13">
            </div>
           
        </div>
        <div class="col-sm-6 p-3 row">
            <div class="col-sm-6">
                <label class="form-check-label">Director Name </label>
                <input type="text" id="CManager" name="CManager" placeholder="" class="form-control">
            </div>
        </div>
        <div class="col-sm-6 p-3 row">
            <div class="col-sm-6">
                <label class="form-check-label">EXT</label>
                <input type="text" id="CManagerExt" name="CManagerExt" placeholder="" class="form-control">
            </div>
        </div>
        <div class="col-sm-6 p-3 row">
            <div class="col-sm-6">
                <label class="form-check-label">E-mail </label>
                <input type="text" id="CEmail" name="CEmail" placeholder="" class="form-control">
            </div>
        </div>
        <div class="col-sm-6 p-3 row">
            <div class="col-sm-12">
                <label class="form-check-label">Availability </label>
                <div class="input-group">
                    <select id="cClosed" name="cClosed" class="form-control">
                        <option value="true" selected='selected'>Open</option>
                        <option value="false">Closed</option>
                    </select><br />
                   
                </div>
            </div>
        </div>
        <div class="col-sm-6 p-3 row">
            <div class="col-sm-12">
                <label class="form-check-label">Developmental Screen</label>
                <div class="input-group">
                    <select id="CDevlmScreen" name="CDevlmScreen" class="form-control">
                        <option value="false">Completed</option>
                        <option value="true" selected='selected'>Not Completed</option>
                    </select><br />

                </div>
            </div>
        </div>


        <div class="col-sm-6 p-3 row">
            <div class="col-sm-12">
                <label class="form-check-label ">Notes</label>
                <textarea id="cNotes" name="cNotes" class="form-control"></textarea>
               
            </div>
        </div>

    </div>
    <br />
    <br />
    <div class="row mb-3 justify-content-center">
        <div class="col-auto">
            <button class="view viewer btn btn-sm btn-success mr-2">Save</button>
        </div>
    </div>
}

            @section scripts{
                <script>
        $(document).ready(function () {
            var phones = [{ "mask": "(###)###-####" }, { "mask": "(###)###-##############" }];  //for "US" phone number pattern in textbox
            $('#txtPhone,#txtFax').inputmask({
                mask: phones,
                greedy: false,
                definitions: { '#': { validator: "[0-9]", cardinality: 1 } }
            });

            $("#txtZip").keypress(function (e)        //if the letter is not digit don't type anything
            {
                if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {

                    return false;
                }
            });
                </script>
            }