﻿@model CIC_Api.Models.CenterMemberModel
@{
    ViewData["Title"] = "AddNewRecord";
}
<br />
<h2 class="text-center">New Center Member Record</h2>
<br />
@using (Html.BeginForm("Create", "CenterMember", FormMethod.Post, new { @id = "CNenrollment" }))
{
    <div class="col-sm-12">

        <div class="col-sm-12 row p-3">
            <div class="col-sm-4">
                <label> Name <span style="color:red; float:right">*</span></label>
                <input type="text" id="Last_Name" name="Last_Name" class="form-control" placeholder="Name" required />
                @*  <input type="text" id="LName" class="validate[required,custom[onlyLetterSp]] form-control">*@
            </div>
            <div class="col-sm-4">
                <label> First Name <span style="color:red; float:right">*</span></label>
                <input type="text" id="First_Name" name="First_Name" class="form-control" placeholder="First Name" required />
                @* <input type="text" id="FName" class="validate[required,custom[onlyLetterSp]] form-control">*@
            </div>
            <div class="col-sm-4">
                Middle Initial
                <input type="text" id="MI" name="MI" class="form-control" placeholder="Middle Name" />
                @*<input type="text" id="MI" maxlength="1" size="1" class="validate[custom[onlyLetterSp]] form-control" />*@
            </div>
        </div>
        <div class="col-sm-12 row p-3">
            <div class="col-sm-6">
                <label>Date Of Birth (mm/dd/yyyy) <span style="color:red; float:right">*</span></label>
                <input type="date" id="DOB" name="DOB" class="form-control" placeholder="" required />
                <!-- <input type="text" name="dob" id="dobTb" class="validate[required] form-control datepicker"> -->
            </div>
            <div class="col-sm-6">
                <label>Last 4 Digits of SSN  <span style="color:red; float:right">*</span></label>
                <input type="text" id="PartialSSN" name="PartialSSN" class="form-control" placeholder="0000" maxlength="4" size="4" required />
                <!-- <input type="text" id="SSNTb" placeholder="0000" maxlength="4" size="4" class="validate[required,custom[onlyNumberSp]] form-control"> -->
            </div>
        </div>
        <div class="col-sm-12 row p-3">
            <div class="col-sm-2">
                <label class="form-check-label">Gender <span style="color:red;font:larger">*</span></label>

            </div>
            <div class="col-sm-2">
                <input checked="checked" name="Gender" type="radio" value="M" /> Male
                <input name="Gender" type="radio" value="F" /> Female
            </div>
        </div>
        <div class="col-sm-6 p-3 row">
            <div class="col-sm-12">
                <label>Race<span style="color:red; float:right">*</span></label>

                <select id="raceddl" name="raceddl" class="form-control" required>
                    <option disabled selected value="0">--Select--</option>
                    @*  @foreach (var item in Model.codes_ethnicOrigin)
                {
                <option value="@item.EthnicOriginID">@item.EthnicOrigin</option>
                }*@


                    <option value="Asian">Asian</option>
                    <option value="Bi-Racial">Bi-Racial</option>
                    <option value="Black">Black</option>
                    <option value="Hispanic">Hispanic</option>
                    <option value="Indian">Indian</option>
                    @*<option value="Administrator on JFS license">Administrator on JFS license</option>*@
                    <option value="Middle Eastern">Middle Eastern</option>
                    <option value="Multi-Racial">Multi-Racial</option>
                    <option value="Native-American">Native-American</option>
                    <option value="Refused to Answer">Refused to Answer</option>
                    <option value="White">White</option>
                </select>

            </div>

        </div>



        <div class="col-sm-12 p-3">
            <div class="row">
                <div class="col-sm-4">
                    <label>Address Number:<span style="color:red; float:right">*</span></label>
                    <input type="text" id="Address_Number" name="Address_Number" placeholder="" class="form-control">
                </div>
                <div class="col-sm-4">
                    <label>Street Name:<span style="color:red; float:right">*</span></label>
                    <input type="text" id="Address_Street" name="Address_Street" class="validate[required] form-control">
                </div>
                <div class="col-sm-4">
                    <label># :</label>
                    <input type="text" id="Address_Apartment" name="Address_Apartment" placeholder="" class="form-control">
                </div>
            </div>
        </div>


        <div class="col-sm-12 p-3 row">
            <div class="col-sm-6">
                <label class="form-check-label">City <span style="color: red; float: right; font-size: large">*</span></label>
                <input type="text" id="city" name="city" placeholder="" class="form-control" maxlength="20" size="20">
            </div>
            <div class="col-sm-6">
                <label class="form-check-label">State <span style="color: red; float: right; font-size: large">*</span></label>
                <input type="text" id="state" name="state" placeholder="" class="form-control" maxlength="2" size="2">
            </div>
        </div>

        <div class="col-sm-6 p-3 row">
            <div class="col-sm-12">
                <label class="form-check-label ">ZIP <span style="color:red; float:right; font-size:large">*</span></label>
                <input type="text" id="ZIP" name="ZIP" placeholder="" class="form-control" maxlength="5" size="5">

            </div>
        </div>
        <div class="col-sm-12 p-3 row">
            <div class="col-sm-6">
                <label class="form-check-label">Phone</label>
                <input type="text" id="Phone_Number" name="Phone_Number" placeholder="(###)###-####" class="form-control" maxlength="13" size="13" oninput="formatPhoneNumberDisplay(this)">
            </div>
            <div class="col-sm-6">
                <label class="form-check-label">E-mail</label>
                <input type="text" id="Email" name="Email" placeholder="" class="form-control" maxlength="50" size="35">
            </div>
        </div>

        <div class="col-sm-6 p-3 row">
            <div class="col-sm-12">
                <label class="form-check-label">Center<span style="color:red; float:right; font-size:large">*</span></label>
                <div class="input-group">
                   @* <select id="CenterId" name="CenterId" class="form-control">
                        <option disabled selected value="0">--Select--</option>
                        <option value="Clevaland">Clevaland</option>
                    </select>*@
                    @Html.DropDownList("CenterId", new SelectList(ViewBag.Centers, "CName", "CName"), "-Select Center-", new { id = "dd_child", @class = "form-control" })

                    <div class="input-group-append">
@*                        <button class="view viewer btn btn-sm btn-success" type="button" style="margin-left: 9px;">Add</button>*@     
                         <a href="@Url.Action("AddCenter", "CenterMember")" class="view viewer btn btn-sm btn-success" style="margin-left: 9px;" title="Add" data-toggle="tooltip">Add</a>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-sm-6 p-3 row">
            <div class="col-sm-12">
                <label class="form-check-label ">Notes</label>
                <textarea id="Notes" name="Notes" class="form-control"></textarea>
                @* <textarea class="form-control" id="NotesTb"></textarea>*@
            </div>
        </div>

    </div>
    <br /><br />
    <div class="row mb-3 justify-content-center">
        <div class="col-auto">
            <button class="view viewer btn btn-sm btn-success mr-2">Save</button>
        </div>
    </div>
    
}


    <script>
    function formatPhoneNumberDisplay(input) {
        const value = input.value.replace(/\D/g, ''); // Remove all non-numeric characters
        if (value.length <= 10) {
            // Format and display as (###)###-####
            const formattedValue = value.replace(/(\d{3})(\d{3})(\d{4})/, '($1)$2-$3');
            input.value = formattedValue;
        } else {
            // Limit to 10 digits and format
            const formattedValue = value.slice(0, 10).replace(/(\d{3})(\d{3})(\d{4})/, '($1)$2-$3');
            input.value = formattedValue;
        }

        // Set the actual value for submission without formatting
        input.setAttribute('data-raw-value', value);
    }
</script>

